<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">

		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen" title="no title" charset="utf-8">
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	</head>
	<body>
		<header>

<!-- FIRST NAVIGATION  -->
			<section class="TOPNAV">
				<nav>
					<i class="icon fa fa-1x fa-align-justify"></i>
					<a href="#">SELECTIONS</a>
					<a href="#">SEARCH</a>
					<button type="button" name="Submit">SUBSCRIBE NOW</button>
					<button type="button" name="Submit">LOG IN</button>
				</nav>
			</section>
<!-- add color to first nav-->
<!-- SECOND NAVIGATION WITH NYT LOGO-->
				<section class="SECONDNAV">
					<nav>
						<a href="#">ENGLISH</a>
						<a href="#">CHINESE</a>
						<a href="#">ESPANOL</a>
				</nav>
			</section>

<img class="NYTlogo"src="https://upload.wikimedia.org/wikipedia/commons/7/77/The_New_York_Times_logo.png" alt="" />

				<section class="THIRDNAV">
					<nav class="LAST-HEADER-NAV">
						<ul class="LAST-HEADER-NAV">
							<li>Wednesday, January, 2017</li>
							<li><a href="#">Todays paper</a></li>
							<li><a href="#">Video</a></li>
							<li><a href="#">48F</li>
							<li><a href="#">Hang Seng 0.00%</li>
						</ul>
					</nav>
				</section>
</header>
<!--FOURTH NAVIGATION  -->
			<section class="fourthnav">
					<nav class="LONGNAV">
						<ul class="LONGNAV">
							<li><a href="#">World</a></li>
							<li><a href="#">U.S</a></li>
							<li><a href="#">Politics</a></li>
							<li><a href="#">N.Y</a></li>
							<li><a href="#">Business</a></li>
							<li><a href="#">Opinion</a></li>
							<li><a href="#">Tech</a></li>
							<li><a href="#">Science</a></li>
							<li><a href="#">Health</a></li>
							<li><a href="#">Sports</a></li>
							<li><a href="#">Arts</a></li>
							<li><a href="#">Style</a></li>
							<li><a href="#">Food</a></li>
							<li><a href="#">Travel</a></li>
							<li><a href="#">Magazine</a></li>
							<li><a href="#">T Magazine</a></li>
							<li><a href="#">Real Estate</a></li>
							<li><a href="#">All</a></li>
						</ul>
					</nav>

				</section>
<!--ARTICLE SECTION  -->
		<section class="left-section">
			<!--left part 1  -->
			<section class="left-list-chunk">
							<article class="left1article1">
								<h4>THE 45TH PRESIDENT</h4>
								<h2>'I Think It Was <br> Russia,' Trump<br> Says of D.N.C Hacking</br></h2>
								<span>By JULIE HIRSCHFELD DAVIS and MAGGIE HABERMAN</span>
								<span>2:58 PM ET</span>
								<ul>
									<li>President-elect Donald J. Trump conceded for the forst time that Russia had carried out cyberattacks during the presidential election</li>
									<li>But Mr. Trump sidestepped repeated questions about whether he or anyone in his team</li>
								</ul>
							</article>
							<article class="leftarticle2">
								<span>CONFIRMATION HIGHLIGHTS</span>
								<h2>Rubio Aggresively Questions Tillerson<br> on Russia</h2>
									<h4>By MATT FLEGENHEIMER, DAVID E. SANGER and EMMAIRE<br> HUETTEMAN</h4>
									<span>6:34 PM ET</span>
									<p>"Is Vladimir Putin a war criminal" Marco Rubio asked Rex Tylerson. The secretary of state nominee said no.</p>
							</article>
				</section>
				<!--left secion of leftside compelete  -->
<!--left part 2  -->
	<section class="left-video">

				<section class="V1">
					<video class="video" src="https://youtu.be/5kweSUKTV-Q" controls> </video>
					<span>Video by The New York Times. Photo by Damon Winter/The New York Times</span>
					<p>President-elect Donald J. Trump on Wednesday on Wednesday in New York<br> held a news conference for the first time in six months.</p>
					</section>


<!-- section under the video -->
<section class="v2">
								<h2>Trump's News Conference: 10 Key moments</h2>
									<p>Pushback on a leaked intelligence report, sharp words for CNN<br> and a new appointee for the Department of Veterans Affairs</p>
									<nav class="videonav">
										<ul class="videonav">
											<li><a href="#">Analysis</a></li>
											<li><a href="#">Fact Checking</a></li>
											<li><a href="#">Transcript</a></li>
											<li><a href="#">A Made-for-TV Spectacle</a></li>
										</ul>
									</nav>
</section>

<!--section under video section nav  -->
							<article class="bluesection">
								<h2>Trump will Cede Control, but not Divest Stake in Business</h2>
								<h4>By SUSSANE CRAIG and ERIC LIPTON</h4>
								<span>7:10 PM ET</span>
								<p>Mr. Trump plans to turn over his business operations to a trust controlled by his two oldest sons, a solution said to be wholly inadequeate by the government's top ethics monitors.</p>
								<img src="http://lorempixel.com/400/200/sports/1/Dummy-Text/" alt="alt text" />
								<span>872 comments</span>
							</article>

							<article class="last-left">
							<h2>Trump's News Session Starts War With The Media</h2>
								<span>5:33 PM ET</span>
							</article>

</section>
</section>
<!-- complete left side  -->

<!--RIGHT SIDE  -->
			<section class="right-section">
				<h3>The Opinion Pages</h3>
				<section class="rleft1">
					<section class="rleftsec1">
								<span>Charles M. Blow</span>
								<h2>Ode to Obama</h2>
								<p>You don't know what you've got till it's gone.</p>
								<img src="http://lorempixel.com/400/200/sports/1/Dummy-Text/" alt="alt text" />
						</section>
						<section class="rleftsec2">
							<span>OP-ED CONTRIBUTOR</span>
							<h2>Donald Trump: A Moderate Manchurian Candidate?</h2>
							<span>By MAX BOOT</span>
							<p>The onus is on the president-elect to prove he's not Putin's puppet</p>
							<img src="http://lorempixel.com/400/200/sports/1/Dummy-Text/" alt="alt text" />
						</section>

						<ul>
							<li class="rleftsec3">Editorial: Trying to Head Off a Health Care Calamity</h></li>
							<li class="rleftsec3">Disability: My life with Paralysis, it's a Workout</h2></li>
						</ul>
				</section>
<!--right side of right side  -->
				<section class="rright">
							<section class="rright1">
								<h2>Should Companies Keep Drivers Off Social Media?</h2>
									<p>Apple has been sued in a crash in which a driver was using FaceTime</p>
								<img src="http://lorempixel.com/400/200/sports/1/Dummy-Text/" alt="alt text" /></li>
							</section>

							<section class="rright2">
								<span>This Week in Hate</span>
									<h2>Anti-Semitic Note Promises 'Mayhem'</h2>
									<p>Hate crimes and incidents of harassment reported in recent days.</p>
									<img src="http://lorempixel.com/400/200/sports/1/Dummy-Text/" alt="alt text" /></li>
						 </section>

							<ul class="rright3">
								<li>Bruni: The Dark Magic of Kellyanne Conway</li>
								<li>Friedman: Online and Scared</li>
						 </ul>
					</section>
<!-- bottom right side -->
<section class="bottom">
		<section class="bottom1">
			<section class="bottoma">
				<h3> TIMES INSIDER </h3>
				<p>'What's the difference between the National Debt and the Federal Deficit?'</p>
			</section>
			<section class="bottomb">
				<h3> THE CROSSWORD </h3>
				<p>'Play Today's Puzzle'</p>
				<img src="" alt="" />
			</section>
 		</section>
			<section class="bottom2">
								<span>1H</span>
								<p>Since its cone-shaped fossils were found in the 1800s, <strong>the hyolith has perplexed scientists</strong>. But a student's research has finally fit the hyolith on the evolutionary tree</p>
								<img src="http://lorempixel.com/400/200/sports/1/Dummy-Text/" alt="alt text" />
			</section>

			<section class="bottom3">
								<span>4h</span>
								<p>The sports landscape is littered with <strong>failed pro football leagues</strong>, but a sports agent thinks he has found a model for success:</p>
								<img src="http://lorempixel.com/400/200/sports/1/Dummy-Text/" alt="alt text" />              </a>
			</section>

</section>


	</body>
</html>
